@model IEnumerable<Book>

@{
    ViewBag.Title = "Books";
    Layout = "_Layout";
}

<h2>@ViewData["Message"]</h2>

<form asp-action="Search" method="post">
    <input type="text" class="form-control" name="searchQuery"/>
    <input type="submit" class="btn btn-default" value="Search"/>
</form>

<a asp-action="Create">Add Book</a>
<table class="table">
    <tr>
        <th> Title </th>
        <th> Publisher </th>
        <th> Publish Year </th>
        <th> Author Name </th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Publisher.Name</td>
            <td>@book.PublishYear</td>
            <td>@book.Author.Name</td>
        </tr>
    }
</table>
